/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    text-align: left;
    background: linear-gradient(45deg, #788bd6, #667ede, #c5cbe3); /* Example gradient */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: cleft;
}

.container {
    width: 70%; /* Adjusted width to fit two dropdowns */
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.number {
    font-size: 1.2rem;
    font-weight: bold;
}
/* Background color styles */
.unload {
    background-color: green;
    color: white;
}

.load {
    background-color: red;
    color: white;
}

.special {
    background-color: orange;
    color: black;
}
